@font-face {
  font-family: "TeenyTinyPixels";
  src: url("./TeenyTinyPixels.ttf") format("truetype");
}

* {
  font-family: "TeenyTinyPixels";
  font-weight: 100;
}

body {
  background-color: #181818;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.canvas {
  max-height: 50%;
  max-width: 100%;
  background-color: var(--bg);
  border: 2px solid black;
  border-radius: 5px;
}
.inputs {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 16rem;
}

.inputButtonContainer {
  flex-basis: 25%;
  text-align: center;
  .inputButton {
    width: 4rem;
    height: 4rem;
    .keyMapKey {
      font-size: 0.6rem;
      opacity: 0.5;
    }
  }
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: stretch;
  align-content: stretch;
  width: 16rem;
  .button {
    flex: 1 1 0;
  }
}

.button {
  text-align: center;
  border: 0;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: var(--bg);
  color: var(--fg);
  padding: 1rem;
  -webkit-user-select: none;
  user-select: none;
  &:active,
  &.active {
    color: var(--bg);
    background-color: var(--fg);
  }
}

:global(.settingsPopup-overlay) {
  background-color: rgba(#000000, 0.5);
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: var(--fg);

  .button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
  }
  .settingsTitle {
    font-size: 1.5rem;
  }
  .colorSettings {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
    .colorTitle {
      margin-bottom: 0.5rem;
    }
    & > div {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media all and (max-width: 800px) {
      flex-direction: column;
    }
  }
  .clockSpeedSettings {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    div {
      text-align: center;
    }

    .bar {
      background-color: var(--fg);
      margin: 0.5rem 0;
      &:hover {
        background-color: var(--fg);
        :global(.rs-slier-bar) {
          background-color: var(--fg);
        }
      }
    }
    .handle {
      border: 0;

      &::before {
        background-color: var(--fg);
        border-color: var(--bg);
      }
    }
  }
}

.romButton {
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid black;
}
